.selects-block {
    margin: 50px;
}

.selects-block .select-item-cat {
    text-align: center;
    display: block;
    margin: 10px;
}

.btn-block {
    display: none;
}

.body-content hr {
    border-top: dashed 1px;
}

.model-content .model-options {
    width: 55%;
}

.model-content .model-delivery{
    width: 40%;
}

.model-content .model-options, .model-content .model-delivery {
    display: inline-block;
    margin: 30px 0;
}

.model-content .model-options label {
    display: block;
    width: 100%;
}

.city-delivery, .cost-delivery {
    margin: 10px 15px;
}

.setting-tab-item {
    margin-top: 50px;
}

.div-btn-1 button {
    font-size: 8px;
}

.model-content .model-options, .model-content .model-delivery {
    height: 100%;
    vertical-align: top;
}

.upload-offer {
    margin-top: 20px;
}

.setting-tab-item .nav-link-sort.active {
    background-color: #337ab7;
    color: white;
}

.body-content.main-page {
    text-align: center;
}

.main-page-section {
    display: inline-block;
    width: 70%;
}

.selects-block label, .selects-block select{
    width: 100%;
    text-align: left;
}

.model-item .btn-load-price, .model-item .btn-open-offer, .model-item .btn-no-basic-pdf, .model-item .no-active-no-basic-pdf {
    width: 350px;
    vertical-align: middle;
    padding: 5px;
}

.model-item .btn-load-price, .model-item .btn-open-offer {
    height: 50px;
}

.setting-tab-item form {
    margin-top: 20px;
}

.disabled-btn {
    opacity: 0.5;
}

.city-delivery .glyphicon {
    top: 0 !important;
}

.edit-model-left, .edit-model-right {
    width: 45%;
    display: inline-block;
}

.txt-area-delvr {
    width: 100%;
    height: 150px;
}

.search_advice_wrapper{
    display:none;
    width: 100%;
    background-color: black;
    color: white;
    -moz-opacity: 0.8;
    opacity: 0.8;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=8);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=8);
    filter:alpha(opacity=8);
    z-index:999;
    position: absolute;
    top: 34px; left: 0px;
}

.search_advice_wrapper .advice_variant{
    cursor: pointer;
    padding: 5px;
    text-align: left;
}

.search_advice_wrapper .advice_variant:hover {
    color:#FEFFBD;
    background-color:#818187;
}

.search_advice_wrapper .active {
    cursor: pointer;
    padding: 5px;
    color:#FEFFBD;
    background-color:#818187;
}

.city-delivery .input-group {
    width: 100%;
}

.agency-name {
    display: inline-block;
    width: 80%;
}

.agency-name button {
    display: inline-block;
    vertical-align: top;
}

.agency-name .tab1 p.title {
    display: inline-block;
    margin: 0 0 20px 0;
    font-size: 18px;
    width: 80%;
    word-wrap: break-word;
}

.tab1 p.title span {
    color: green;
}

.agency-name .tab2 {
    display: none;
}

.select-agency {
    margin-top: 20px;
}

.select-agency .h-select-agency {
    font-size: 16px;
}

.model-item h2 {
    display: inline-block;
    width: auto;
    margin-bottom: 20px;
    margin-right: 50px;

}

p.description {
    font-size: 12px;
    color: #3c3c3c;
}

.category-name .tab1 p.title {
    display: inline-block;
    margin: 0 0 20px 0;
    font-size: 18px;
    width: 80%;
    word-wrap: break-word;
}

.btn-danger, .btn-primary {
    float: right;
    margin: 0 5px;
}

#dialog-confirm {
    border: 1px solid grey;
    float:left;
    margin:12px 12px 20px 0;
}

.tab2 {
    border: 1px solid #b9b6b1;
    border-radius: 3px;
    padding: 10px 20px;
}

.tab2 .input-edit-name, .tab2 label, .tab2 select {
    width: 100%;
    margin-top: 5px;
}

.tab2 select {
    margin-bottom: 10px;
}

.model-item label.delivery {
    display: block;
    width: 100%;
}

.model-item .tab2 {
    display: none;
}

.upload-block {
    margin-bottom: 50px;
    border: 1px solid #337ab7;
    border-radius: 3px;
    padding: 10px 20px;
}

.model-item .l-item p {
    display: inline-block;
}

.model-item .l-item {
    display: block;
    font-size: 14px;
}

.models-container {
    margin-top: 50px;
}

.btn-login {
    float: left;
}