.selects-block {
    margin: 50px;
}

.selects-block .select-item-cat {
    text-align: center;
    display: block;
    margin: 10px;
}

.btn-block {
    display: none;
}

.body-content hr {
    border-top: dashed 1px;
}

.model-content .model-options {
    width: 55%;
}

.model-content .model-delivery{
    width: 40%;
}

.model-content .model-options, .model-content .model-delivery {
    display: inline-block;
    margin: 30px 0;
}

.model-content .model-options label {
    display: block;
    width: 100%;
}

.city-delivery, .cost-delivery {
    margin: 10px 15px;
}

.setting-tab-item {
    margin-top: 50px;
}

.div-btn-1 button {
    font-size: 8px;
}

.model-content .model-options, .model-content .model-delivery {
    height: 100%;
    vertical-align: top;
}

.upload-offer {
    margin-top: 20px;
}

.setting-tab-item .nav-link-sort.active {
    background-color: #337ab7;
    color: white;
}

.body-content.main-page {
    text-align: center;
}

.main-page-section {
    display: inline-block;
    width: 70%;
}

.selects-block label, .selects-block select{
    width: 100%;
    text-align: left;
}

.model-item .btn-load-price, .model-item .btn-open-offer, .model-item .btn-no-basic-pdf {
    width: 350px;
    vertical-align: middle;
    padding: 5px;
}

.model-item .btn-load-price, .model-item .btn-open-offer {
    height: 50px;
}

.setting-tab-item form {
    margin-top: 20px;
}

.disabled-btn {
    opacity: 0.5;
}

.city-delivery .glyphicon {
    top: 0 !important;
}

.edit-model-left, .edit-model-right {
    width: 45%;
    display: inline-block;
}

.txt-area-delvr {
    width: 100%;
    height: 150px;
}

.search_advice_wrapper{
    display:none;
    width: 100%;
    background-color: black;
    color: white;
    -moz-opacity: 0.8;
    opacity: 0.8;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=8);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=8);
    filter:alpha(opacity=8);
    z-index:999;
    position: absolute;
    top: 34px; left: 0px;
}

.search_advice_wrapper .advice_variant{
    cursor: pointer;
    padding: 5px;
    text-align: left;
}

.search_advice_wrapper .advice_variant:hover{
    color:#FEFFBD;
    background-color:#818187;
}

.search_advice_wrapper .active{
    cursor: pointer;
    padding: 5px;
    color:#FEFFBD;
    background-color:#818187;
}

.city-delivery .input-group {
    width: 100%;
}